# Translations
*.mo
*.pot

# Environments
.env

*.swp
.vscode

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
.idea/
*.iml
*.ipr
*.iws
out/
gen/
.idea_modules/
# Crashlytics plugin (for Android Studio and IntelliJ)
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

